.van-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .van-content-container {
    flex: 1;
    overflow: auto;
    padding-bottom: 50px;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}